.root {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #d92231;
    background-image: linear-gradient(to bottom,#fff 0,#ebeff5 100%);
    cursor: pointer;
    box-sizing: border-box;;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
}

.selected {
    color: #ffffff;
    background-image: linear-gradient(to bottom, #cc3300 0%, #cc3300 50%, #c3110b 50%, #c3110b 100%);
}
