.header {
    text-align: center;
    background-color: #0439a6;
    color: white;
    height: 140px;
    background-image: url(/img/header/stars.png);
    background-size: 180px 120px;
    background-repeat: no-repeat;
    background-position: center center;
}

.header span {
    display: block;
    width: 100%;
    line-height: 1em;
}

.euro {
    padding-top: 47px;
}

.euro, .france {
    font-size: 15px;
}

.predictor {
    font-size: 24px;
}

.logo{
    position: absolute;
    right: 14px;
    top: 14px;
}
