.root {
    color: white;
    text-align: center;
    color: #184db7;
    background-color: white;
    font-weight: bold;
    line-height: 3em;
    display: block;
}

.selected {
    background-color: #184db7;
    background-color: #2989d8;
    color: white;
}
