.root {
    position: fixed;
    text-align: center;
    bottom: 20px;
    width: 100%;
}

.btn {
    vertical-align: middle;
    white-space: nowrap;
    font-family: SkyMedium,Arial,sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid 0a2b6d;
    line-height: 36px;
    border-radius: 4px;
    color: #fff;
    width: 95%;
    margin: auto;
    font-weight: bold;
    background-image: linear-gradient(to bottom,#174293 0,#174293 50%,#0a2b6d 50%,#0a2b6d 100%);
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5);
}

.number {
    background-color: red;
    border: 2px solid white;
    border-radius: 100px;
    padding: 2px 6px;
    font-weight: bold;
    margin-left: 7px;
}
